/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');


/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONFIGURACIÓN GENERAL */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size:16px;
  line-height:1.7;
  background:
    radial-gradient(circle at top left, #ff4fa31f, transparent 50%),
    radial-gradient(circle at bottom right, #7d4dff20, transparent 50%),
    #0f0f12;
  color: #f4f4f4;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px 8%;
  position: sticky;
  top: 0;
  z-index: 1000;
  gap: 30px;
  background: rgba(15, 15, 18, .85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, .08);
}
/* ESCONDER EL FIGCAPTION DEL LOGO */
.header figure figcaption{
    display: none;
}
.header h1 {
  color: #f4f4f4;
  letter-spacing: 2px;
}

.header .figure {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav a {
  color: #f4f4f4;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
  margin-right: 40px;
}

.nav a:hover {
  color: #ff3e9b;
}
/* BOOTSTRAP NAVBAR */

.navbar{
padding:15px 8%;
margin-bottom:40px;
}
.navbar-brand{
margin-right:40px;
}
.navbar-nav{
gap:20px;
}
.nav-link{
color:#f4f4f4 !important;
font-weight:600;
transition:.3s;
}
.nav-link:hover{
color:#ff3e9b !important;
}
.navbar-toggler{
border:none;
}
.navbar-toggler:focus{
box-shadow:none;
}

/* CONTENIDO PRINCIPAL */

.main {
  width:90%;
  max-width: 1200px;
  margin-top: 30px;
  margin: auto;
  padding: 60px 0;
  display:grid;
  grid-template-areas:
    "sobre"
    "proyectos"
    "video";
  gap:40px;
}
/* GRID AREAS */

#sobre-mi{
  grid-area:sobre;
}
#proyectos{
  grid-area:proyectos;
}
#multimedia{
  grid-area:video;
}
/* GRID DE PROYECTOS */

.projects-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  width:100%;
}
.projects-grid > *{
    background:#0f0f12;
    padding:30px;
    border-radius:20px;
}
/* SECCIONES */
.section{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:30px;
  padding:40px;
  margin-bottom:40px;
  background:#0f0f12;
  border-radius:25px;
  box-shadow:0 10px 30px rgba(0,0,0,.4);
  transition: .4s;
}

.section:hover {
  transform: translateY(-5px);
  background: #242430;
}

.section h2 {
  width: 100%;
  color: #f4f4f4;
}

/* ARTICLE */
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 300px;
}

/* FIGURE */
.figure {
  flex: 1 1 40%;
  text-align: center;
}

.figure img {
  width: 100%;
  max-width: 150px;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);;
  transition: .4s;
}

.figure img:hover {
  transform: scale(1.04);
}

figcaption {
  margin-top: 15px;
  color: #c8c8c8;
  font-size: .9rem;
}

/* JERARQUÍA DE TÍTULOS */
h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-left: 40px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

/* PARRAFOS */
p {
  color: #c8c8c8;
  font-size: 1.05rem;
}

/* LISTAS */
ul {
  padding-left: 25px;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

/* LOGO */
.logo {
  margin-left: 150px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: .3s;
}

.logo:hover {
  transform: rotate(5deg) scale(1.08);
}

/* IMAGEN DE PERFIL */
.profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;
}

/* BOTON */
.button {
  display: inline-block;
  margin: 20px;
  padding: 12px 24px;
  background: linear-gradient(45deg, #ff4fa3, #ff9b42);
  color: #f4f4f4;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: .3s;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 79, 163, .35);
}

/* VIDEO */
.video {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
  display: block;
  margin: auto;
  max-width: 450px;
}
/* CAROUSEL */
#carouselExampleCaptions{
  position: relative;
 width:100%;
  max-width:600px;
  margin:auto;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,.4);
}

/* FOOTER */
.footer {
  margin-top: 60px;
  padding: 35px;
  text-align: center;
  background: #080808;
}
.footer a {
  color: #ff4fa3;
  text-decoration: none;
}
.footer a:hover {
  color: #ff9b42;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151515;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff4fa3, #ff9b42);
  border-radius: 20px;
}

/* RESPONSIVE */
/* TABLET */
@media (min-width:768px){
.section{
flex-direction:row;
}
.figure img{
  max-width: 150px;
}
}
/* DESKTOP */
@media (min-width:1024px){
.main{
grid-template-areas:
"sobre sobre"
"proyectos video";
grid-template-columns:2fr 1fr;
}
.projects-grid{
  grid-template-columns:  1fr 1fr;
}
}
.project-card{
  display:block;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #ff4fa3, #ff9b42); 
  padding:20px;
  border-radius:20px;
  text-decoration:none;
  color:#f4f4f4;
  transition:.3s;
  text-align: center;
}

.project-card:hover{
  transform:translateY(-5px);
}